
[Unit]
Description=Gunicorn status service
After=network.target

[Service]
ExecStart=/usr/local/bin/gunicorn --workers 1  --bind 0.0.0.0:5000 app:app 
WorkingDirectory=/usr/local/lib/python3.9/dist-packages/status/
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ main_user }}

[Install]
WantedBy=multi-user.target
