
[Unit]
Description=Chat service
After=network.target

[Service]
ExecStart=/usr/bin/nodejs /home/{{ main_user }}/repos/{{ repo_name }}/bot.js
WorkingDirectory=/home/{{ main_user }}/repos/{{ repo_name }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ main_user }}

[Install]
WantedBy=multi-user.target
